// All element ui classes starts with a 'el' word. Take note

$--color-primary: #de0b0b;
$--color-success: rgba(34, 197, 94, 1);
$--color-warning: #f7ba2a;
$--color-danger: #cf0100;
$--color-info: #f1f5f9;

$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/index';
// @import 'element-ui/lib/theme-chalk/reset.css';

.el-container {
  border: none !important;
}
.el-header {
  height: 68px !important;
  padding: 0 0px;
  box-sizing: border-box;
  line-height: 50px;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 2px 10px rgb(0 0 0 / 8%);
  z-index: 500;
}

// menu items
.el-menu {
  // border-right: none;
  background-color: transparent;

  .el-menu-item {
    display: flex;
    align-items: center;
    font-size: 17px;

    &:hover {
      background-color: #e4e3e1;
      // border-top-right-radius: 18px;
      // border-bottom-right-radius: 18px;
      // margin-right: 25px;
    }

    i {
      font-weight: bold;
      color: rgb(83, 79, 79);
      margin-right: 15px;
    }
  }
}
.el-menu-item.is-active {
  background-color: #e4e3e1;
  font-weight: bold;
  // color: white;
  // border-top-right-radius: 18px;
  // border-bottom-right-radius: 18px;
  // margin-right: 25px;
}
.el-submenu__title {
  display: flex;
  align-items: center;
  font-size: 17px;
  // color: rgb(229, 221, 241);

  &:hover {
    background-color: #e4e3e1;
  }

  i {
    font-weight: bold;
    color: rgb(83, 79, 79);
  }
}
.el-submenu [class^='el-icon-'] {
  margin-right: 15px;
  font-size: 17px;
}
.el-submenu .el-menu-item {
  font-size: 16px !important;
}

// button
.el-button {
  font-family: var(--font-primary) !important;
}
.el-button--mini {
  padding: 5px 14px;
}

// form inputs
.el-form-item {
  &__label {
    font-size: 15px;
  }
}
.el-input {
  font-size: 16px;

  &__inner {
    height: 49px;
    line-height: 50px;
    font-family: var(--font-primary);
    border: 1px solid #9ca2b1;
  }
}

.el-input__inner {
  border: 1px solid #e2e8f0;
  height: 43px;
  border-radius: 8px;
  background: #f8fafc;
  max-width: 320px;

  width: 100%;
}

.el-input.is-active .el-input__inner,
.el-input__inner:focus {
  border-color: var(--color-primary);
  outline: 0;
}

.default_input.el-input-number {
  line-height: 40px;
}
.el-form--label-top .el-form-item__label {
  padding: 0 0 0 0 !important;
}
.el-textarea__inner {
  font-family: var(--font-primary);
  font-size: 16px;
  border: 1px solid #9ca2b1;
}

// dialogue
.el-dialog {
  border-radius: 0.5rem;
  background: #f8f8ff;

  &__header {
    box-shadow: 0 2px 10px rgb(0 0 0 / 8%);
    background: #f5f5fc;
    border-radius: 0.5rem 0.5rem 0 0;

    .el-dialog__close {
      font-size: 19px;
      font-weight: bold;
      background: #eae9ff;
      border-radius: 15px;
      padding: 3px;
    }
  }

  &__footer {
    padding: 0;
  }
}

// table
.el-table {
  td.el-table__cell div {
    color: #39365c;
  }

  thead {
    color: #595d64;
  }

  &__expanded-cell {
    padding-left: 15px !important;
  }
}

// date picker & callendar
.el-calendar-table {
  &__row {
    .current.is-selected {
      color: white;
      background: var(--color-primary);
      border-radius: 4px;
    }
  }
  .el-calendar-day {
    box-sizing: border-box;
    padding: 8px;
    height: 36px;
    display: flex;
    justify-content: center;

    &:hover {
      cursor: pointer;
      background-color: none !important;
      background: none;
    }
  }
}
.el-calendar__body {
  padding: 12px 2px 6px;
}
.schedule_calendar .el-calendar__header {
  padding: 17px 0px;

  .el-calendar__title {
    display: none;
  }
}

// card
.el-card {
  border-radius: 13px;

  &__body {
    padding: 15px;
  }
}
.event_div__card {
  border: 1px solid #ebeef5;
  background-color: #ebeef5;

  .el-card__body {
    padding: 0px !important;
  }
}

// tabs
.el-tabs__item {
  padding: 6px 20px;
  height: 50px;
}

// dropdown
.el-dropdown-menu.header_notify {
  padding: 0px !important;
}

// badge
.el-badge__content.is-fixed {
  top: 5px !important;
  // right: 20px !important;
  // transform: translateY(-50%) translateX(100%);
}

.el-input--suffix .el-input__inner {
  // padding-right: 30px;
  height: 35px;
  border: none;
}

.el-input--prefix .el-input__inner {
  height: 40px;
  // padding: 10px;
  width: 200px;
  border: 2px solid #e2e8f0;
  border-radius: 8px;
}

.el-drawer__header > :first-child {
  padding: 20px 10px 0;
  font-size: 20px;
}

.el-button--info {
  color: #64748b;
  background-color: #f1f5f9;
  border-color: #f1f5f9;
  font-weight: 400;
}

.el-message-box__message p {
  font-size: 12px;
}
